h2 {
  padding: 10px;
  color: #fff;
  background: rgb(0, 174, 187);
  -webkit-box-shadow: 5px 5px 0 #039faa;
  box-shadow: 5px 5px 0 #007e94;
}

h3 {
  padding: 10px;
  border-bottom: 3px solid rgb(91, 195, 255);
  background: #f4f4f4;
  }

h4 {
  border-bottom: 3px dotted #000;
}

p {
  padding-top: 20px;
}

img {
  padding: 10px;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}
.sidebar_content {
  margin-bottom: 100px;
}

code {
  display: inline-block;
  padding: 0.1em 0.25em; /* 文字周りの余白 */
  color: #444; /* 文字色 */
  background-color: #e7edf3; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  border: solid 1px #d6dde4; /* 枠線 */
}

ul  {
  color: #1e366a;
  border: dotted #1e366a 1px;/*ドット 色 太さ*/
  padding: 0.5em 0.5em 0.5em 2em;
}

ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}


  ol.sample1,
ol.sample1 ol{
  counter-reset: list;
  list-style: none;
  padding: 0;

  font: 14px/1.6 'arial narrow', sans-serif;
}
ol.sample1 ol{
  margin: 0 0 0 35px;

}
 
.sample1 a{
  position: relative;
  display: block;
  text-decoration: none;
  padding: 3px 3px 3px 8px;
  margin: 8px 0 8px 30px;
  background: #f1f8ff;
  color: #333;
  font-weight: bold;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; 
}
 
.sample1 a:hover{
  background: #ffd9d3;
}   
 
.sample1 a:before{
  content: counter(list);
  counter-increment: list;
  position: absolute;   
  left: -35px;
  top: 50%;
  height: 28px;
  width: 28px;
  margin-top: -1em;
  background: #5c9ee7;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
 
.sample1 a:after{   
  content: '';
  position: absolute;
  left: -28px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;             
}
 
.sample1 a:hover:after{
  left: -6px;
  border-left-color: #5c9ee7;               
}

.profile-card{
  width: 100%;
  max-width:400px;
  position: relative;
  background: #fff; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
}
.profile-card:before{
 width:120%;
 height:100px;
 content:"";
 transform:skew(15deg,10deg);
 background: #70b7ff; /*斜め背景の色*/
 position:  absolute;
 top:-15%;
 left:-10%;
 z-index: 0;
}
.profile-card__inner{
 position: relative;
}
.profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
}
.profile-thumb img{
  display: block;
    width: 100%;
    height: auto;
}
.profile-content{
  padding: 15px;
}
.profile-content span{
  display: block;
}
.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}
.profile-job{
  margin-bottom: 10px;
  color: #ccc;
  font-size: 10px;
  text-align: center;
}
.profile-intro{
  font-size: 12px;
}

#page_top{
  width: 90px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border: 3px solid #3f98ef;
  border-radius: 15px;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #3f98ef;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #3f98ef;
  position: absolute;
  top: 38px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}